<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="cowi-tools-public" value="https://pkgs.dev.azure.com/cowi-tools/f7c2ca28-a7af-4180-a54e-2cfc099d4e0e/_packaging/cowi-tools-public/nuget/v3/index.json" />
    <add key="cowi-macros" value="https://cowi-tools.pkgs.visualstudio.com/f7c2ca28-a7af-4180-a54e-2cfc099d4e0e/_packaging/Macros/nuget/v3/index.json" />
  </packageSources>
</configuration>